.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    margin: 10px 50px 10px 0px;
}

.drink{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 80px;
}
img{
    width: 600px;
    height: 500px;
}